doctype html
html(ng-app='chatnode')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/site.css')
  body
    div.height-100(ng-controller='mainCtrl')
      div.container-fluid
        div.col-md-9
          h1= title
        div.col-md-3.alert.alert-danger(ng-show='displayMessage.isShowing')
          a.close(href='#', data-dismiss='alert', ng-click='displayMessage.isShowing = !displayMessage.isShowing') &times;
          strong {{ displayMessage.text }}

      div.container.height-88
        div.row.height-90
          div.col-md-9.height-100
            div.row.height-90.scrollable(scroll-glue)
                ul.list-unstyled
                  li(ng-repeat='message in messages') {{ message.timestamp | date : 'mediumTime' }} - {{ message.username }}: {{ message.text }}
            div.row.height-10.border-top
              div.col-md-11.height-100
                input.width-100.height-100.input-unstyled(type='text', ng-model='message')
              div.col-md-1.height-100
                button.btn.btn-sm.btn-success.navbar-btn(ng-click='sendMessage(message)') Send
          div.col-md-3.height-100.border-left.height-90
            div.row
              div.col-md-12
                h4 Hello, {{ user.username }}
            div.row
              div.col-md-8
                input.form-control(type='text', placeholder='username', ng-model='newUsername')
              div.col-md-4
                button.btn.btn-success(ng-click='changeUsername(newUsername)') Ok
            div.row.height-90
              div.col-md-12.height-90
                h4 Connected Users
                ul.list-unstyled.height-90.scrollable
                  li(ng-repeat='person in people') {{ person.username }}

script(src='/js/lib/angular.min.js')
script(src='/socket.io/socket.io.js')
script(src='/js/lib/socket.js')
script(src='/js/directives/scroll-glue.js')
script(src='/js/app.js')
script(src='/js/controllers/mainController.js')